@font-face {
    font-family: "abeatbyKai";
    src: url("../fonts/abeatbyKai.TTF") format("truetype");
}

html, body {
  height: 100%;
}

.ocean {
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0;
  background: #fff;
  z-index: -1;
}

.wave {
  background: url(../assets/img/wave-2.svg) repeat-x;
  position: absolute !important;
  bottom: 0px;
  width: 6400px;
  height: 400px;
  -webkit-animation: wave 35s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 35s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  background: url(../assets/img/wave-3.svg) repeat-x;
  bottom: -20px;
  -webkit-animation: wave 40s cubic-bezier(0.40, 0.45, 0.63, 0.53) -20s infinite, swell 7s ease -1.25s infinite;
          animation: wave 40s cubic-bezier(0.40, 0.45, 0.63, 0.53) -20s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}
@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

.hidden {
  display: none;
}

/*SPINNER*/
.spinner {

  height: 28px;
  width: 28px;
  animation: rotate 0.6s infinite linear;
  border: 4px solid #22C7CF;

  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.timeline{
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline-element{
  border-left: 10px solid lightgrey;
  margin-left: 2em !important;
}

.timeline-text{
  padding-left: 3em;
}

.point{
  position: absolute;
  display: block;
  height: 1px;
  width: 1px;
  background: #000;
  color: #45C49E;
  position: absolute;
  border-radius: 10px;
  vertical-align: middle;
  top: 40%;
  left: 27px;
  border: 10px solid;
}

.is-relative{
  position: relative;
}

.footer a{
  color: rgba(74, 74, 74, 0.9);
}
.footer a:hover{
  color: #4a4a4a;
}

/*Pattern background*/

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.animated-background {
  position: absolute !important;
  bottom: 0px;
  width: 100%;
  height: 1200px;
  background-image: url(../../assets/img/background-demos-med.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 140s linear infinite;
}

.mensaje{
  border: none !important ;
  box-shadow: none !important;
  padding: 2px !important;
  margin: 2px !important;
  max-width: 16em !important;
  word-wrap: break-word !important;
  padding-right: 1em !important;
  padding-left: 1em !important;
}

.mensaje-admin{
  background-color: #5937BF !important;
  color: #fff !important;
}

.mensaje-usuario{
  background-color: #25B98C !important;
  color: #fff !important;
}

.inbox {
  max-height: 240px;
  min-height: 240px;
  overflow-y: scroll;
  border: 1px solid #E1E1E0;
  border-radius: 3px;
}

.user-list{
  max-height: 240px;
  min-height: 240px;
  overflow-y: scroll;
}


/* HERO IMAGE BACKGROUND */

.hero-image {
  height: inherit;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-1{
  background-image: url("../assets/img/index-img-01.jpg");
}

.img-2{
  background-image: url("../assets/img/index-img-02.JPEG");
}

.img-3{
  background-image: url("../assets/img/index-img-03.JPEG");
}

.mask {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    filter: grayscale(100%);
}

.img-responsive {
      display: block;
      max-width: 100%;
      height: auto;
}

.hover-hero:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
